body {
  background-color: #202020;
  margin: 0;
}

html {
  font-family: Roboto, sans-serif;
}

* {
  color: #ffffff;
}

h1 {
  font-family: "Times New Roman", Times, serif;
  color: #b18637;
  margin-bottom: 0.25em;
}

h2 {
  color: #ffffff;
  font-size: 1em;
  margin-top: 0;
}

h3 {
  color: #ffffff;
}

a {
  color: #b18637;
}

a:hover {
  color: #ffffff;
  cursor: pointer;
}

p {
  margin: 0;
}

header {
  width: 100%;
  border-bottom: 5px solid #b18637;
  position: fixed;
  background-color: #353535;
  top: 0;
  left: 0;
  right: 0;
  height: 18%;
}

header .header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .header-container .header-text {
  display: block;
}

header .header-container .avatar {
  float: left;
  width: 8em;
  margin-top: 0.8em;
  margin-left: 1em;
}

header .header-container .avatar img {
  width: 100%;
  border-radius: 50%;
}

main {
  max-width: 900px;
  margin: 0 auto;
  padding-top: 12%;
}

footer {
  border-top: 5px solid #b18637;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1em;
  background-color: #353535;
}

.contacts {
  margin-bottom: 2em;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact__type {
  min-width: 90px;
}

.experience {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2em;
}

.experience__date {
  min-width: 185px;
  margin-bottom: 1em;
}

.experience__name {
  font-weight: bold;
}

@media (max-width: 575px) {
  .experience {
    display: block;
  }
  .footer {
    width: 100%;
  }
}

.container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.responsive-table li {
  border-radius: 3px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
  letter-spacing: 0.03em;
}

.responsive-table .table-header {
  background-color: #606161;
  font-size: 1em;
  text-transform: uppercase;
}

.responsive-table .table-row {
  background-color: #353535;
}

.responsive-table .col-1 {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}

.responsive-table .col-2 {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}

.responsive-table .col-3 {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}

@media all and (max-width: 575px) {
  .responsive-table .table-header {
    display: none;
  }
  .responsive-table li {
    display: block;
  }
  .responsive-table .col {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .responsive-table .col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 10px 0;
  }
  .responsive-table .col:before {
    color: #6c7a89;
    padding-right: 10px;
    content: attr(data-label);
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    text-align: right;
  }
}
